<% @evaluation = @object %>

<div id="event_<%= @event.id %>_comments_long" style="display:none" class="marginless">

  <p>
    <b>Source:</b>
    <%= @evaluation.source %>
  </p>

  <p>
    <b>Embletta unit number:</b>
    <%= @evaluation.embletta_unit_number %>
  </p>

  <p>
    <b>Subject notified:</b>
    <%= check_box_tag 'evaluation', 'subject_notified', @evaluation.subject_notified?, disabled: true %>
  </p>

  <p>
    <b>Exclusion:</b>
    <%= @evaluation.exclusion_name %>
  </p>

  <p>
    <b>Status:</b>
    <%= @evaluation.status %>
  </p>

  <%= simple_format @evaluation.comments %>
</div>
