<% @evaluation = @object %>

<div id="event_<%= @event.id %>_comments_long" style="display:none" class="right-bubble">
  <dl>
    <% unless @evaluation.source.blank? %>
      <dt>Source</dt>
      <dd><%= @evaluation.source %></dd>
    <% end %>

    <% unless @evaluation.embletta_unit_number.blank? %>
      <dt>Embletta unit number</dt>
      <dd><%= @evaluation.embletta_unit_number %></dd>
    <% end %>

    <dt>Subject notified</dt>
    <dd><%= check_box_tag 'evaluation', 'subject_notified', @evaluation.subject_notified?, disabled: true %></dd>

    <% unless @evaluation.exclusion_name.blank? %>
      <dt>Exclusion</dt>
      <dd><%= @evaluation.exclusion_name %></dd>
    <% end %>

    <% unless @evaluation.status.blank? %>
      <dt>Status</dt>
      <dd><%= @evaluation.status %></dd>
    <% end %>

    <% unless @evaluation.comments.blank? %>
      <dt>Comments</dt>
      <dd><%= simple_format @evaluation.comments %></dd>
    <% end %>
  </dl>
</div>
