<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @evaluations.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.patient_id", 'Patient') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.administration_type", 'Administration type') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.embletta_unit_number", 'Embletta unit number') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.administration_date", 'Administration date') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.receipt_date", 'Receipt date') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.scored_date", 'Scored date') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.ahi", 'AHI') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "evaluations.eligibility", 'Eligibility') %></th>
    </tr>
  </thead>

  <% @evaluations.each do |evaluation| %>
    <tr>
      <td><%= link_to evaluation.patient.phi_code(current_user), evaluation.patient if evaluation.patient %></td>
      <td><%= link_to evaluation.administration_type_name + " " + evaluation.evaluation_type_name, evaluation %></td>
      <td><%= evaluation.embletta_unit_number %></td>
      <td><%= simple_date evaluation.administration_date %></td>
      <td><%= simple_date evaluation.receipt_date %></td>
      <td><%= simple_date evaluation.scored_date %></td>
      <td><%= evaluation.ahi %></td>
      <td><%= evaluation.eligibility %></td>
    </tr>
  <% end %>

</table>

<center><%= paginate @evaluations, theme: "contour" %></center>
