<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@evaluation, html: { class: 'form-horizontal' }) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :patient_id, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= link_to @evaluation.patient.phi_code(current_user), @evaluation.patient if @evaluation.patient %>
      <%= f.hidden_field :patient_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :administration_type, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :administration_type, [['---', nil]] + Choice.where(category: 'administration type').collect{|c| [c.name, c.id]} %>
      <%= javascript_tag do %>
        window.$choices = {};
        <% Choice.where(category: 'administration type').each do |c| %>
          window.$choices['<%= c.id %>'] = <%= c.fields.collect{|f| "#evaluation_#{f}"}.to_json.html_safe %>;
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :evaluation_type, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :evaluation_type, [['---', nil]] + Choice.where(category: 'evaluation type').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :administration_date, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :administration_date, class: 'datepicker form-control', value: @evaluation.administration_date ? @evaluation.administration_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :source, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :source %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :embletta_unit_number, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :embletta_unit_number %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :expected_receipt_date, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :expected_receipt_date, class: 'datepicker form-control', value: @evaluation.expected_receipt_date ? @evaluation.expected_receipt_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :receipt_date, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :receipt_date, class: 'datepicker form-control', value: @evaluation.receipt_date ? @evaluation.receipt_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :storage_date, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :storage_date, class: 'datepicker form-control', value: @evaluation.storage_date ? @evaluation.storage_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :subject_notified, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.check_box :subject_notified %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reimbursement_form_date, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :reimbursement_form_date, class: 'datepicker form-control', value: @evaluation.reimbursement_form_date ? @evaluation.reimbursement_form_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :scored_date, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :scored_date, class: 'datepicker form-control', value: @evaluation.scored_date ? @evaluation.scored_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ahi, 'AHI', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.number_field :ahi, { min: 0, step: 0.01 } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :eligibility, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :eligibility, Evaluation::ELIGIBILITY %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :exclusion, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :exclusion, [['---', nil]] + Choice.where(category: 'exclusion').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :status, Evaluation::STATUS %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comments, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :comments, rows: 7, style: "width:99%" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>

<%= javascript_tag do %>
  window.$toggle_fields = <%= Evaluation::TOGGLE_FIELDS.collect{|f| "#evaluation_#{f}"}.to_json.html_safe %>;
  window.$show_fields = [];
<% end %>
