<% width = '1074px' %>

<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :patient_id %><br />
      <%= link_to @evaluation.patient.mrn, @evaluation.patient if @evaluation.patient %>
      <%= f.hidden_field :patient_id %>
    </div>

    <div class="field">
      <%= f.label :assessment_type %><br />
      <%= f.select :assessment_type, [['---', nil]] + Choice.where(category: 'assessment type').collect{|c| [c.name, c.id]} %>
    </div>
    <div class="field">
      <%= f.label :evaluation_type %><br />
      <%= f.select :evaluation_type, [['---', nil]] + Choice.where(category: 'evaluation type').collect{|c| [c.name, c.id]} %>
    </div>
    <div class="field">
      <%= f.label :source %><br />
      <%= f.text_field :source %>
    </div>
    <div class="field">
      <%= f.label :embletta_unit_number %><br />
      <%= f.text_field :embletta_unit_number %>
    </div>
    <div class="field">
      <%= f.label :assessment_date %><br />
      <%= f.text_field :assessment_date, class: 'datepicker', value: @evaluation.assessment_date ? @evaluation.assessment_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :expected_receipt_date %><br />
      <%= f.text_field :expected_receipt_date, class: 'datepicker', value: @evaluation.expected_receipt_date ? @evaluation.expected_receipt_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :receipt_date %><br />
      <%= f.text_field :receipt_date, class: 'datepicker', value: @evaluation.receipt_date ? @evaluation.receipt_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :storage_date %><br />
      <%= f.text_field :storage_date, class: 'datepicker', value: @evaluation.storage_date ? @evaluation.storage_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :subject_notified %><br />
      <%= f.check_box :subject_notified %>
    </div>
    <div class="field">
      <%= f.label :reimbursement_form_date %><br />
      <%= f.text_field :reimbursement_form_date, class: 'datepicker', value: @evaluation.reimbursement_form_date ? @evaluation.reimbursement_form_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :scored_date %><br />
      <%= f.text_field :scored_date, class: 'datepicker', value: @evaluation.scored_date ? @evaluation.scored_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :ahi %><br />
      <%= f.number_field :ahi, { min: 0 } %>
    </div>
    <div class="field">
      <%= f.label :eligibility %><br />
      <%= f.select :eligibility, Evaluation::ELIGIBILITY %>
    </div>
    <div class="field">
      <%= f.label :exclusion %><br />
      <%= f.select :exclusion, [['---', nil]] + Choice.where(category: 'exclusion').collect{|c| [c.name, c.id]} %>
    </div>
    <div class="field">
      <%= f.label :status %><br />
      <%= f.select :status, Evaluation::STATUS %>
    </div>
    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments, rows: 7, style: "width:#{width}" %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @evaluation.new_record? ? 'new_evaluation' : "edit_evaluation_#{@evaluation.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@evaluation.new_record? ? "Create Evaluation" : "Update Evaluation"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
    <br />
  </div>
<% end %>
