<% @title = 'Evaluations' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag evaluations_path, method: :get, remote: true, id: "evaluations_search", class: 'form-vertical', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :mrn, 'Search', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :mrn, params[:mrn] %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :administration_after, 'Administration Date After', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :administration_after, params[:administration_after], class: 'datepicker form-control' %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :administration_before, 'Administration Date Before', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :administration_before, params[:administration_before], class: 'datepicker form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :eligibility, 'Eligibility', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag :eligibility, options_for_select(Evaluation::ELIGIBILITY, params[:eligibility]) %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :receipt_after, 'Receipt Date After', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :receipt_after, params[:receipt_after], class: 'datepicker form-control' %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :receipt_before, 'Receipt Date Before', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :receipt_before, params[:receipt_before], class: 'datepicker form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :administration_type, 'Administration Type', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag :administration_type, options_for_select([['---', nil]] + Choice.where(category: 'administration type').collect{|c| [c.name, c.id]}, params[:administration_type]) %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :scored_after, 'Scored Date After', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :scored_after, params[:scored_after], class: 'datepicker form-control' %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :scored_before, 'Scored Date Before', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :scored_before, params[:scored_before], class: 'datepicker form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :evaluation_type, 'Evaluation Type', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag :evaluation_type, options_for_select([['---', nil]] + Choice.where(category: 'evaluation type').collect{|c| [c.name, c.id]}, params[:evaluation_type]) %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
    <%= link_to 'Export CSV', '#', class: 'btn', data: { target: '#evaluations_search', object: 'export', format: 'csv' } %>
  </div>
<% end %>

<div id="evaluations"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
