<% @title = 'Evaluations' %>
<h1><%= @title %></h1>

<%= form_tag evaluations_path, method: :get, remote: true, id: "evaluations_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  <fieldset>
    <legend>
      Search Filters
    </legend>
    <table class="blank padded" style="table-layout:fixed;width:100%;text-align:left;margin:10px 0px">
      <thead>
        <tr>
          <th>Search</th>
          <th>Administration Date After</th>
          <th>Administration Date Before</th>
          <th>Eligibility</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= text_field_tag 'mrn', params[:mrn] %></td>
          <td><%= text_field_tag 'administration_after', params[:administration_after], class: 'datepicker' %></td>
          <td><%= text_field_tag 'administration_before', params[:administration_before], class: 'datepicker' %></td>
          <td><%= select_tag 'eligibility', options_for_select(Mailing::ELIGIBILITY, params[:eligibility]) %></td>
        </tr>
      </tbody>
    </table>
    <%= button_tag image_tag('gentleface/16/cog.png') + 'Filter Search' %>
  </fieldset>
<% end %>

<div id="evaluations"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#evaluations_search").attr("action"), $("#evaluations_search").serialize(), null, "script");
  });
<% end %>
