<% @title = 'Evaluations' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag evaluations_path, method: :get, remote: true, id: "evaluations_search", class: 'form-search' do %>
  <%= hidden_field_tag :order %>

  <div class="row">
    <div class="span4 control-group">
      <%= label :mrn, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :mrn, params[:mrn] %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :administration_after, 'Administration Date After', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :administration_after, params[:administration_after], class: 'datepicker' %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :administration_before, 'Administration Date Before', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :administration_before, params[:administration_before], class: 'datepicker' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group">
      <%= label :eligibility, 'Eligibility', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :eligibility, options_for_select(Evaluation::ELIGIBILITY, params[:eligibility]) %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
  </div>
<% end %>

<div id="evaluations"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#evaluations_search").attr("action"), $("#evaluations_search").serialize(), null, "script");
  });
<% end %>
