<% @title = 'Evaluations' %>
<h1><%= @title %></h1>

<%= form_tag evaluations_path, method: :get, remote: true, id: "evaluations_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'mrn', params[:mrn] %> <%#= information %>
<% end %>

<div id="evaluations"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#evaluations_search").attr("action"), $("#evaluations_search").serialize(), null, "script");
  });
<% end %>
