<% @title = "Evaluation #{@evaluation.name}" %>
<div class="page-header">
  <h1>
    <%= link_to @evaluation.patient.phi_code(current_user), @evaluation.patient %> &middot; <%= @title %>
    <% if current_user.screener? or current_user.subject_handler? %>
      <%= link_to "Edit Evaluation", edit_evaluation_path(@evaluation), class: 'btn btn-xs' %>
      <%= link_to "Delete Evaluation", @evaluation, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Evaluation #{@evaluation.name}?" } %>
    <% end %>
    <%= link_to "View Evaluations", evaluations_path, class: 'btn btn-xs' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Administration type</dt>
  <dd>
    <%= @evaluation.evaluation_type_name %>
    <%= @evaluation.administration_type_name %>
  </dd>

  <dt>Source</dt>
  <dd><%= @evaluation.source %></dd>

  <dt>Embletta unit number</dt>
  <dd><%= @evaluation.embletta_unit_number %></dd>

  <dt>Administration date</dt>
  <dd><%= simple_date @evaluation.administration_date %></dd>

  <dt>Expected receipt date</dt>
  <dd><%= simple_date @evaluation.expected_receipt_date %></dd>

  <dt>Receipt date</dt>
  <dd><%= simple_date @evaluation.receipt_date %></dd>

  <dt>Storage date</dt>
  <dd><%= simple_date @evaluation.storage_date %></dd>

  <dt>Subject notified</dt>
  <dd><%= check_box_tag 'evaluation', 'subject_notified', @evaluation.subject_notified?, disabled: true %></dd>

  <dt>Reimbursement form date</dt>
  <dd><%= simple_date @evaluation.reimbursement_form_date %></dd>

  <dt>Scored date</dt>
  <dd><%= simple_date @evaluation.scored_date %></dd>

  <dt>AHI</dt>
  <dd><%= @evaluation.ahi %></dd>

  <dt>Eligibility</dt>
  <dd><%= @evaluation.eligibility %></dd>

  <dt>Exclusion</dt>
  <dd><%= @evaluation.exclusion_name %></dd>

  <dt>Status</dt>
  <dd><%= @evaluation.status %></dd>

  <dt>Comments</dt>
  <dd><%= @evaluation.comments %></dd>
</dl>
