<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @clinics.total_count } %>

<table class="table table-striped" style="table-layout:fixed">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "clinics.name", "Name") %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "clinics.status", "Status") %></th>
    </tr>
  </thead>

  <% @clinics.each do |clinic| %>
    <tr class="<%= 'error' if clinic.status == 'blacklist' %>">
      <td><%= link_to clinic.name, clinic %></td>
      <td><%= clinic.status %></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @clinics, theme: "contour" %></center>
