<%= render partial: 'layouts/per_page', locals: { object_count: @clinic_count, type: 'clinics', per_page: 40 } %>

<table class="table table-striped table-bordered" style="width:100%;table-layout:fixed">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "clinics.name", "Name", 'clinics_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "clinics.status", "Status", 'clinics_search') %></th>
    </tr>
  </thead>

  <% @clinics.each do |clinic| %>
    <tr style="<%= 'background-color:#dedede' if clinic.status == 'blacklist' %>">
      <td><%= link_to clinic.name, clinic %></td>
      <td><%= clinic.status %></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @clinics %></center>
