<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@clinic, html: { class: 'form-horizontal' }) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved</h4>

      <ul>
      <% @clinic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :status, [['---', nil], ['Whitelist', 'whitelist'], ['Blacklist', 'blacklist']] %>
      <span class="muted">NOTE: BLACKLISTING will DELETE all associated PRESCREENS</span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
