<% @title = 'Clinics' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%#= link_to "Create Clinic", new_clinic_path, class: 'btn btn-primary' %>
  </h1>
</div>

<%= form_tag clinics_path, method: :get, remote: true, id: "clinics_search", class: 'form-inline', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'form-control' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="clinics"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
