<% @title = 'Clinics' %>
<h1><%= @title %></h1>

<%#= link_to image_tag('gentleface/16/doc_new.png', alt: '') + "Create New Clinic", new_clinic_path, class: 'button positive' %>

<%= form_tag clinics_path, method: :get, remote: true, id: "clinics_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'search', params[:search] %>
<% end %>

<div id="clinics"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#clinics_search").attr("action"), $("#clinics_search").serialize(), null, "script");
  });
<% end %>
