<% @title = "Clinic: #{@clinic.name}" %>
<h1><%= @title %></h1>

<% if current_user.screener? %> <%# current_user.all_clinics.include?(@clinic) %>
  <%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Clinic", edit_clinic_path(@clinic), class: 'btn' %>
  <%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Clinic", @clinic, confirm: "Are you sure you want to delete Clinic #{@clinic.name}?", method: :delete, class: 'btn btn-danger' %>
<% end %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View All Clinics", clinics_path, class: 'btn' %>
<div style="clear:both"></div>

<fieldset>
  <legend><%= image_tag "gentleface/16/home.png", alt: '', style: 'vertical-align:text-bottom' %> Clinic</legend>

  <p>
    <b>Status:</b>
    <%= @clinic.status %>
  </p>
</fieldset>
