<% @title = "Clinic: #{@clinic.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.screener? %>
      <%= link_to "Edit Clinic", edit_clinic_path(@clinic), class: 'btn btn-xs btn-default' %>
      <%= link_to "Delete Clinic", @clinic, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Clinic #{@clinic.name}?" } %>
    <% end %>
    <%= link_to "View Clinics", clinics_path, class: 'btn btn-xs btn-default' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd><%= @clinic.status %></dd>
</dl>
