<% @mailing = @object %>

<center>
  <% @mailing.risk_factors.each do |choice| %>
    <%= @choice = choice; render partial: 'choices/show' %>
  <% end %>
</center>

<div id="event_<%= @event.id %>_comments_long" style="display:none" class="marginless">
  <p>
    <b>Berlin:</b>
    <%= @mailing.berlin %>
  </p>

  <p>
    <b>ESS:</b>
    <%= @mailing.ess %>
  </p>

  <p>
    <b>Exclusion:</b>
    <%= @mailing.exclusion_name %>
  </p>

  <p>
    <b>Participation:</b>
    <%= @mailing.participation_name %>
  </p>
</div>
