<div class="page-header">
  <h1><%= @title %></h1>
</div>

<% if @mailing.patient %>
  <table class="table table-condensed" style="width:100%;table-layout:fixed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address1</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
      </tr>
    </thead>
    <tr>
      <td><%= @mailing.patient.phi_name(current_user) %></td>
      <td><%= @mailing.patient.phi_address1(current_user) %></td>
      <td><%= @mailing.patient.phi_city(current_user) %></td>
      <td><%= @mailing.patient.phi_state(current_user) %></td>
      <td><%= @mailing.patient.phi_zip(current_user) %></td>
    </tr>
  </table>
<% end %>

<%= form_for(@mailing, html: { class: 'form-horizontal' }) do |f| %>
  <% if @mailing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailing.errors.count, "error") %> prohibited this mailing from being saved:</h2>

      <ul>
      <% @mailing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :patient_id, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= link_to @mailing.patient.phi_code(current_user), @mailing.patient if @mailing.patient %>
      <%= f.hidden_field :patient_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :doctor_id, nil, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.select :doctor_id, Doctor::doctor_select %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sent_date, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.text_field :sent_date, class: 'datepicker', value: @mailing.sent_date ? @mailing.sent_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :response_date, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.text_field :response_date, class: 'datepicker', value: @mailing.response_date ? @mailing.response_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :berlin, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.text_field :berlin %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :ess, 'ESS', class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.text_field :ess %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :eligibility, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.select :eligibility, Mailing::ELIGIBILITY %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :exclusion, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.select :exclusion, [['---', nil]] + Choice.where(category: 'exclusion').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :participation, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.select :participation, [['---', nil]] + Choice.where(category: 'participation').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :risk_factors, nil, class: 'col-md-2 control-label' %>
    <div class="controls">
      <table style="width:100%;table-layout:fixed;">
        <% Choice.where(category: 'risk factors').in_groups_of(4).each do |row_risk_factors| %>
          <tr>
            <% row_risk_factors.each_with_index do |choice, index| %>
              <td style="white-space:nowrap;overflow:hidden;">
                <% if choice %><label class="checkbox tag-checkbox <%= 'tag-selected' if @mailing.risk_factors.include?(choice) %>" style="margin-bottom: 0px;background-color: <%= choice.color %>"><%= check_box_tag "mailing[risk_factor_ids][]", choice.id, @mailing.risk_factors.include?(choice) %> <span class="tag-name"><%= choice.name %></span></label><% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :comments, class: 'col-md-2 control-label' %>
    <div class="controls">
      <%= f.text_area :comments, rows: 7, style: "width:99%" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
