<% width = '1074px' %>

<% if @mailing.patient %>
  <div class="frame">
    <table style="width:100%;table-layout:fixed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address1</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tr>
        <td><%= @mailing.patient.name %></td>
        <td><%= @mailing.patient.address1 %></td>
        <td><%= @mailing.patient.city %></td>
        <td><%= @mailing.patient.state %></td>
        <td><%= @mailing.patient.zip %></td>
      </tr>
    </table>
  </div>
<% end %>

<%= form_for(@mailing) do |f| %>
  <% if @mailing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailing.errors.count, "error") %> prohibited this mailing from being saved:</h2>

      <ul>
      <% @mailing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :patient_id %><br />
      <%= link_to @mailing.patient.code, @mailing.patient if @mailing.patient %>
      <%= f.hidden_field :patient_id %>
    </div>

    <div class="field">
      <%= f.label :doctor_id, 'Cardiologist' %><br />
      <%= f.select :doctor_id, Doctor::doctor_select %>
    </div>

    <div class="field">
      <%= f.label :sent_date %><br />
      <%= f.text_field :sent_date, class: 'datepicker', value: @mailing.sent_date ? @mailing.sent_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :response_date %><br />
      <%= f.text_field :response_date, class: 'datepicker', value: @mailing.response_date ? @mailing.response_date.strftime('%m/%d/%Y') : '' %>
    </div>
    <div class="field">
      <%= f.label :berlin %><br />
      <%= f.text_field :berlin %>
    </div>
    <div class="field">
      <%= f.label :ess, 'ESS' %><br />
      <%= f.text_field :ess %>
    </div>
    <div class="field">
      <%= f.label :eligibility %><br />
      <%= f.select :eligibility, Mailing::ELIGIBILITY %>
    </div>
    <div class="field">
      <%= f.label :exclusion %><br />
      <%= f.select :exclusion, [['---', nil]] + Choice.where(category: 'exclusion').collect{|c| [c.name, c.id]} %>
    </div>
    <div class="field">
      <%= f.label :participation %><br />
      <%= f.select :participation, [['---', nil]] + Choice.where(category: 'participation').collect{|c| [c.name, c.id]} %>
    </div>

    <div class="field">
      <%= f.label :risk_factors %><br />
      <table class="blank padded" style="width:100%;table-layout:fixed">
        <% Choice.where(category: 'risk factors').in_groups_of(5).each do |row_risk_factors| %>
          <tr>
            <% row_risk_factors.each do |choice| %>
              <td><% if choice %><%= check_box_tag "mailing[risk_factor_ids][]", choice.id, @mailing.risk_factors.include?(choice) %> <%= @choice = choice; render partial: 'choices/show' %><% end %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments, rows: 7, style: "width:#{width}" %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @mailing.new_record? ? 'new_mailing' : "edit_mailing_#{@mailing.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@mailing.new_record? ? "Create Mailing" : "Update Mailing"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
    <br />
  </div>
<% end %>
