<div style="float:right">
  Per Page
  <span class="per_page">
    20
  </span>
</div>

<div style="clear:both"></div>

<div class="frame">
  <table style="width:100%">
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'mailings.patient_id', 'Patient', 'mailings_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'mailings.sent_date', 'Sent date', 'mailings_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'mailings.response_date', 'Response date', 'mailings_search') %></th>
      <th>Berlin</th>
      <th>Ess</th>
      <th>Eligibility</th>
      <th>Comments</th>
      <th></th>
    </tr>

  <% @mailings.each do |mailing| %>
    <tr>
      <td><%= link_to mailing.patient.mrn, mailing.patient if mailing.patient %></td>
      <td><%= link_to simple_date(mailing.sent_date), mailing %></td>
      <td><%= simple_date(mailing.response_date) %></td>
      <td><%= mailing.berlin %></td>
      <td><%= mailing.ess %></td>
      <td><%= mailing.eligibility %></td>
      <td><%= mailing.comments %></td>
      <td>
        <%= @patient = mailing.patient; render partial: 'patients/statistics', locals: { mailing: 1 } %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<center><%= paginate @mailings %></center>
