<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @mailings.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'mailings.patient_id', 'Patient') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'mailings.sent_date', 'Sent date') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'mailings.response_date', 'Response date') %></th>
      <th>Berlin</th>
      <th>ESS</th>
      <th>Eligibility</th>
      <th>Comments</th>
    </tr>
  </thead>

<% @mailings.each do |mailing| %>
  <tr>
    <td><%= link_to mailing.patient.phi_code(current_user), mailing.patient if mailing.patient %></td>
    <td><%= link_to simple_date(mailing.sent_date), mailing %></td>
    <td><%= simple_date(mailing.response_date) %></td>
    <td><%= mailing.berlin %></td>
    <td><%= mailing.ess %></td>
    <td><%= mailing.eligibility %></td>
    <td><%= mailing.comments %></td>
  </tr>
<% end %>
</table>

<center><%= paginate @mailings, theme: "contour" %></center>
