<% @title = "Mailings" %>
<h1><%= @title %></h1>

<%= form_tag mailings_path, method: :get, remote: true, id: "mailings_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'mrn', params[:mrn] %> <%#= information %>
<% end %>

<div id="mailings"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#mailings_search").attr("action"), $("#mailings_search").serialize(), null, "script");
  });
<% end %>
