<% @title = "Mailings" %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag mailings_path, method: :get, remote: true, id: "mailings_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>

  <div class="row">
    <div class="span4 control-group">
      <%= label :mrn, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :mrn, params[:mrn] %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :sent_after, 'Sent Date After', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :sent_after, params[:sent_after], class: 'datepicker' %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :sent_before, 'Sent Date Before', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :sent_before, params[:sent_before], class: 'datepicker' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group">
      <%= label :eligibility, 'Eligibility', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :eligibility, options_for_select(Mailing::ELIGIBILITY, params[:eligibility] || 'potentially eligible') %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :response_after, 'Response Date After', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :response_after, params[:response_after], class: 'datepicker' %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :response_before, 'Response Date Before', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :response_before, params[:response_before], class: 'datepicker' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group">
      <%= label :ineligible, 'Exclude Ineligible From Calls, Evaluations, or Prescreens', class: 'control-label' %>
      <div class="controls">
        <%= check_box_tag :ineligible, '1', params[:ineligible] %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
    <%= link_to 'Export Contact List', '#', class: 'btn', data: { target: '#mailings_search', object: 'export', format: 'originalcsv' } %>
    <%= link_to 'Export CSV', '#', class: 'btn', data: { target: '#mailings_search', object: 'export', format: 'csv' } %>
  </div>
<% end %>

<div id="mailings"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
