<% @title = "Mailing: #{@mailing.name}" %>
<h1><%= @title %></h1>

<% if current_user.system_admin? %> <%# current_user.all_mailings.include?(@mailing) %>
  <%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Mailing", edit_mailing_path(@mailing), class: 'button' %>
  <%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Mailing", @mailing, confirm: "Are you sure you want to delete Mailing #{@mailing.name}?", method: :delete, class: 'button negative' %>
<% end %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View All Mailings", mailings_path, class: 'button' %>
<div style="clear:both"></div>

<fieldset>
  <legend><%= image_tag 'gentleface/16/mail.png', alt: '', style: 'vertical-align:text-bottom' %> Mailing</legend>

  <p>
    <b>Patient:</b>
    <%= link_to @mailing.patient.mrn, @mailing.patient %>
  </p>

  <p>
    <b><%= @mailing.doctor.doctor_type.titleize %></b>
    <%= link_to @mailing.doctor.name, @mailing.doctor %>
  </p>

  <p>
    <b>Sent date:</b>
    <%= @mailing.sent_date %>
  </p>

  <p>
    <b>Response date:</b>
    <%= @mailing.response_date %>
  </p>

  <p>
    <b>Berlin:</b>
    <%= @mailing.berlin %>
  </p>

  <p>
    <b>Ess:</b>
    <%= @mailing.ess %>
  </p>

  <p>
    <b>Eligibility:</b>
    <%= @mailing.eligibility %>
  </p>

  <p>
    <b>Exclusion:</b>
    <%= @mailing.exclusion %>
  </p>

  <p>
    <b>Participation:</b>
    <%= @mailing.participation %>
  </p>

  <p>
    <b>Comments:</b>
    <%= @mailing.comments %>
  </p>
</fieldset>
