<% @title = "Mailing: #{@mailing.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.screener? or current_user.subject_handler? %>
      <%= link_to "Edit Mailing", edit_mailing_path(@mailing), class: 'btn btn-mini' %>
      <%= link_to "Delete Mailing", @mailing, confirm: "Are you sure you want to delete Mailing #{@mailing.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <% end %>
    <%= link_to "View Mailings", mailings_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Patient</dt>
  <dd><%= link_to @mailing.patient.code, @mailing.patient %></dd>

  <dt><%= @mailing.doctor.doctor_type.titleize %></dt>
  <dd><%= link_to @mailing.doctor.name, @mailing.doctor %></dd>

  <dt>Sent date</dt>
  <dd><%= @mailing.sent_date %></dd>

  <dt>Response date</dt>
  <dd><%= @mailing.response_date %></dd>

  <dt>Berlin</dt>
  <dd><%= @mailing.berlin %></dd>

  <dt>ESS</dt>
  <dd><%= @mailing.ess %></dd>

  <dt>Eligibility</dt>
  <dd><%= @mailing.eligibility %></dd>

  <dt>Exclusion</dt>
  <dd><%= @mailing.exclusion_name %></dd>

  <dt>Participation</dt>
  <dd><%= @mailing.participation_name %></dd>

  <dt>Risk factors</dt>
  <dd>
    <ul>
      <% @mailing.risk_factors.each do |choice| %>
        <li><%= @choice = choice; render partial: 'choices/show' %> <%= choice.description %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Comments</dt>
  <dd><%= @mailing.comments %></dd>
</dl>
