<% @prescreen = @object %>

<center>
  <% @prescreen.risk_factors.each do |choice| %>
    <%= @choice = choice; render partial: 'choices/show' %>
  <% end %>
</center>

<div id="event_<%= @event.id %>_comments_long" style="display:none" class="marginless">

  <p>
    <b>Clinic:</b>
    <%= @prescreen.clinic.name %>
  </p>

  <p>
    <b>Cardiologist:</b>
    <%= @prescreen.doctor.name %>
  </p>

  <p>
    <b>Exclusion:</b>
    <%= @prescreen.exclusion_name %>
  </p>
</div>
