<% @prescreen = @object %>

<div id="event_<%= @event.id %>_comments_long" style="display:none" class="right-bubble">
  <dl>
    <dt>Creator</dt>
    <dd><%= @prescreen.user.name %></dd>

    <dt>Clinic</dt>
    <dd><%= @prescreen.clinic.name %></dd>

    <dt>Doctor</dt>
    <dd><%= @prescreen.doctor.name %></dd>

    <% unless @prescreen.exclusion_name.blank? %>
      <dt>Exclusion</dt>
      <dd><%= @prescreen.exclusion_name %></dd>
    <% end %>
  </dl>
</div>
