<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@prescreen, html: { class: 'form-horizontal' }) do |f| %>
  <% if @prescreen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescreen.errors.count, "error") %> prohibited this prescreen from being saved:</h2>

      <ul>
      <% @prescreen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :patient_id, class: 'control-label' %>
    <div class="controls">
      <%= link_to @prescreen.patient.phi_code(current_user), @prescreen.patient if @prescreen.patient %>
      <%= f.hidden_field :patient_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :clinic_id, class: 'control-label' %>
    <div class="controls">
      <%= f.select :clinic_id, Clinic::clinic_select %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :doctor_id, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :doctor_id, Doctor::doctor_select %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :visit_date, 'Visit date', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :visit_date, @prescreen.visit_date, class: 'datepicker' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :visit_time, 'Visit time', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :visit_time, @prescreen.visit_at_string %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :visit_duration, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :visit_duration, { min: 0 } %> <%= f.select :visit_units, ['minutes', 'hours'].collect{|i| [i,i]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :eligibility, class: 'control-label' %>
    <div class="controls">
      <%= f.select :eligibility, Prescreen::ELIGIBILITY %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :exclusion, class: 'control-label' %>
    <div class="controls">
      <%= f.select :exclusion, [['---', nil]] + Choice.where(category: 'exclusion').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :risk_factors, nil, class: 'control-label' %>
    <div class="controls">
      <table style="width:100%;table-layout:fixed;">
        <% Choice.where(category: 'risk factors').in_groups_of(4).each do |row_risk_factors| %>
          <tr>
            <% row_risk_factors.each_with_index do |choice, index| %>
              <td style="white-space:nowrap;overflow:hidden;">
                <% if choice %><label class="checkbox tag-checkbox <%= 'tag-selected' if @prescreen.risk_factors.include?(choice) %>" style="margin-bottom: 0px;background-color: <%= choice.color %>"><%= check_box_tag "prescreen[risk_factor_ids][]", choice.id, @prescreen.risk_factors.include?(choice) %> <span class="tag-name"><%= choice.name %></span></label><% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
