<%= render partial: 'layouts/per_page', locals: { object_count: @prescreens.total_count, type: 'prescreens', per_page: 40 } %>

<table class="table table-striped table-bordered" style="width:100%;table-layout:fixed">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'prescreens.patient_id', 'Patient', 'prescreens_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'prescreens.doctor_id', 'Doctor', 'prescreens_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'prescreens.visit_at', 'Visit', 'prescreens_search') %></th>
      <% Prescreen::EDITABLES.each do |item| %>
        <th><%== sort_field_helper(@order, "prescreens.#{item}", item.titleize, 'prescreens_search') %></th>
      <% end %>
      <th>Risk Factors</th>
      <% Patient::EDITABLES.each do |item| %>
        <th><%= item.titleize %></th>
      <% end %>
    </tr>
  </thead>

  <% @prescreens.each do |prescreen| %>
    <tr>
      <td><%= link_to prescreen.patient.phi_code(current_user), prescreen.patient if prescreen.patient %></td>
      <td><%= prescreen.doctor.name.split(',').first %></td>
      <td><%= link_to simple_date_and_weekday(prescreen.visit_at), prescreen %><br /><%= prescreen.visit_at_range_short %></td>
      <% Prescreen::EDITABLES.each do |item| %>
        <td>
          <% if item == 'exclusion' %>
            <%= prescreen.send(item+'_name') %>
          <% else %>
            <%= prescreen.send(item) %>
          <% end %>
        </td>
      <% end %>
      <td>
        <% prescreen.risk_factors.each do |choice| %>
          <%= render partial: 'choices/show', locals: { choice: choice } %>
        <% end %>
      </td>
      <% Patient::EDITABLES.each do |item| %>
        <td>
          <%= prescreen.patient.send(item) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<center><%= paginate @prescreens, theme: "contour" %></center>
