<div style="float:right">
  Per Page
  <span class="per_page">
    40
  </span>
</div>

<div style="clear:both"></div>

<div class="frame">
  <table style="width:100%;table-layout:fixed">
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'prescreens.patient_id', 'Patient', 'prescreens_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'prescreens.doctor_id', 'Cardiologist', 'prescreens_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'prescreens.visit_at', 'Visit', 'prescreens_search') %></th>
      <% Prescreen::EDITABLES.each do |item| %>
        <th><%= item.titleize %></th>
      <% end %>
      <% Patient::EDITABLES.each do |item| %>
        <th><%= item.titleize %></th>
      <% end  %>
      <th></th>
    </tr>

  <% @prescreens.each do |prescreen| %>
    <tr>
      <td><%= link_to prescreen.patient.mrn, prescreen.patient if prescreen.patient %></td>
      <td><%= link_to prescreen.doctor.name.split(',').first, prescreen.doctor %></td>
      <td><%= link_to simple_date(prescreen.visit_at), prescreen %><br /><%= prescreen.visit_at_range_short %></td>
      <% Prescreen::EDITABLES.each do |item| %>
        <td id="prescreen_<%= prescreen.id %>_<%= item %>_inline_edit">
          <%= prescreen.send(item) %>
        </td>
      <% end %>
      <% Patient::EDITABLES.each do |item| %>
        <td id="patient_<%= prescreen.patient_id %>_<%= item %>_inline_edit">
          <%= prescreen.patient.send(item) %>
        </td>
      <% end %>
      <td>
        <%= @patient = prescreen.patient; render partial: 'patients/statistics', locals: { prescreen: 1 } %>
        <%= javascript_tag do %>
          $(document).ready(function(){
            <% Prescreen::EDITABLES.each do |item| %>
              $("#prescreen_<%= prescreen.id %>_<%= item %>_inline_edit").editInPlace({
                url: '<%= inline_update_prescreen_path(prescreen) %>',
                params: 'item=<%= item %>',
                success: function(response){ eval(response) },
                field_type: '<%= item == 'eligibility' ? 'select' : 'text' %>',
                select_options: '<%= item == 'eligibility' ? ',potentially eligible,ineligible' : '' %>'
              });
            <% end %>

            <% Patient::EDITABLES.each do |item| %>
              $("#patient_<%= prescreen.patient_id %>_<%= item %>_inline_edit").editInPlace({
                url: '<%= inline_update_patient_path(prescreen.patient) %>',
                params: 'item=<%= item %>',
                success: function(response){ eval(response) }
              });
            <% end %>

          });
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<center><%= paginate @prescreens %></center>
