<%= form_tag inline_update_prescreen_path(@prescreen, item: 'risk_factors'), method: :post, remote: true, id: "prescreen_#{@prescreen.id}_risk_factors_inline_edit_form_form" do %>
  <% Choice.where(category: 'risk factors').each do |choice| %>
    <div style="whitespace:nowrap"><%= check_box_tag "prescreen[risk_factor_ids][]", choice.id, @prescreen.risk_factors.include?(choice) %> <%= @choice = choice; render partial: 'choices/show' %></div>
  <% end %>
  <%= submit_tag 'Save', class: 'btn btn-mini btn-primary' %>
  <%= link_to 'Cancel', '#', class: 'btn btn-mini', data: { object: 'form-reset-and-hide', target: "#prescreen_#{@prescreen.id}_risk_factors_inline_edit" } %>
<% end %>
