<% @title = 'Prescreens Import' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <small>Spreadsheet - Tab Delimited</small>
  </h1>
</div>

<% width = '1074px' %>

<%= form_tag import_prescreens_path, method: :post, class: 'form-horizontal' do %>
  <div class="control-group">
    <%= label :visit_date, 'Visit date', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= text_field_tag :visit_date, Date.today.strftime('%m/%d/%Y'), class: 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <table class="blank padded" style="width:100%;table-layout:fixed">
      <thead>
        <tr>
          <th style="text-align:left">Doctor</th>
        </tr>
        <tr>
          <th style="text-align:left">Appointment Time</th>
          <th style="text-align:left">---</th>
          <th style="text-align:left">Clinic</th>
          <th style="text-align:left">Patient Name</th>
          <th style="text-align:left">Sex Age</th>
          <th style="text-align:left">MRN</th>
        </tr>
      </thead>
    </table>

    <%= text_area_tag :tab_dump, '', rows: 7, style: "width:99%" %>
  </div>
  <div class="form-actions">
    <%= submit_tag 'Import', class: 'btn btn-primary' %>
  </div>
<% end %>

<% doctors_unknown = Doctor.current.where("status = '' or status IS NULL") %>
<% clinics_unknown = Clinic.current.where("status = '' or status IS NULL") %>

<div class="row">
  <div class="col-md-6">
    <% if doctors_unknown.size > 0 %>
      <fieldset>
        <legend>New Doctors</legend>
        <% doctors_unknown.each do |doctor| %>
          <div class="control-group">
            <%= link_to 'Whitelist', doctor_path(doctor, doctor: { status: 'whitelist' }, from: 'prescreens'), method: :put, class: 'btn btn-mini' %>
            <%= link_to 'Blacklist', doctor_path(doctor, doctor: { status: 'blacklist' }, from: 'prescreens'), method: :put, data: { confirm: "Blacklisting this doctor will PERMANENTLY remove all associated prescreens. Are you sure you want to blacklist #{doctor.name}?" }, class: 'btn btn-mini btn-danger' %> <%= link_to doctor.name, doctor %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if clinics_unknown.size > 0 %>
      <fieldset>
        <legend>New Clinics</legend>
        <% clinics_unknown.each do |clinic| %>
          <div class="control-group">
            <%= link_to 'Whitelist', clinic_path(clinic, clinic: { status: 'whitelist' }, from: 'prescreens'), method: :put, class: 'btn btn-mini' %>
            <%= link_to 'Blacklist', clinic_path(clinic, clinic: { status: 'blacklist' }, from: 'prescreens'), method: :put, data: { confirm: "Blacklisting this clinic will PERMANENTLY remove all associated prescreens. Are you sure you want to blacklist #{clinic.name}?" }, class: 'btn btn-mini btn-danger' %> <%= link_to clinic.name, clinic %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>
</div>
