<% @title = 'Prescreens' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag prescreens_path, method: :get, remote: true, id: "prescreens_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <div class="row">
    <div class="col-md-4 control-group">
      <%= label :mrn, 'Search', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :mrn, params[:mrn] %>
      </div>
    </div>
    <div class="col-md-4 control-group">
      <%= label :visit_after, 'Visit Date After', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag 'visit_after', params[:visit_after], class: 'datepicker' %>
      </div>
    </div>

    <div class="col-md-4 control-group">
      <%= label :visit_before, 'Visit Date Before', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag 'visit_before', params[:visit_before], class: 'datepicker' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 control-group">
      <%= label :eligibility, 'Eligibility', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag :eligibility, options_for_select(Prescreen::ELIGIBILITY, params[:eligibility]) %>
      </div>
    </div>

    <div class="col-md-4 control-group">
      <%= label :not_called, 'Not Called', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= check_box_tag :not_called %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
  </div>
<% end %>

<div id="prescreens"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
