<% @title = 'Prescreens' %>
<h1><%= @title %></h1>

<% width = '1074px' %>

<%= form_tag prescreens_path, method: :get, remote: true, id: "prescreens_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  <fieldset>
    <legend>
      Search Filters
    </legend>
    <table class="blank padded" style="table-layout:fixed;width:100%;text-align:left;margin:10px 0px">
      <thead>
        <tr>
          <th>Search</th>
          <th>Visit Date After</th>
          <th>Visit Date Before</th>
          <th>Eligibility</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= text_field_tag 'mrn', params[:mrn] %></td>
          <td><%= text_field_tag 'visit_after', params[:visit_after], class: 'datepicker' %></td>
          <td><%= text_field_tag 'visit_before', params[:visit_before], class: 'datepicker' %></td>
          <td><%= select_tag 'eligibility', options_for_select(Prescreen::ELIGIBILITY, params[:eligibility]) %></td>
        </tr>
      </tbody>
    </table>
    <%= button_tag image_tag('gentleface/16/cog.png') + 'Filter Search' %>
  </fieldset>
<% end %>

<div id="prescreens"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#prescreens_search").attr("action"), $("#prescreens_search").serialize(), null, "script");
  });
<% end %>
