<% @title = 'Prescreens' %>
<h1><%= @title %></h1>

<% width = '1074px' %>

<%= form_tag bulk_prescreens_path, method: :post do %>
  <fieldset>
    <legend>
      Spreadsheet Prescreen Import
    </legend>
    <div class="field">
      <label>Visit Date:</label>
      <%= text_field_tag :visit_date, Date.today.strftime('%m/%d/%Y'), class: 'datepicker' %>
    </div>
    <div class="field">
      <label>Spreadsheet Dump:</label><br />
      <%= text_area_tag :tab_dump, '', rows: 7, style: "width:#{width}" %>
    </div>
  </fieldset>

  <%= submit_tag 'Import' %>

<% end %>

<div class="frame">
  <table>
    <tr>
      <th>Patient</th>
      <th>Clinic</th>
      <th>Cardiologist</th>
      <th>Visit at</th>
      <th>Visit duration</th>
      <th>Visit units</th>
      <% Prescreen::EDITABLES.each do |item| %>
        <th><%= item.titleize %></th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @prescreens.each do |prescreen| %>
    <tr>
      <td><%= link_to (prescreen.patient.mrn + '<br />' + prescreen.patient.reverse_name).html_safe, prescreen.patient if prescreen.patient %></td>
      <td><%= prescreen.clinic %></td>
      <td><%= prescreen.cardiologist %></td>
      <td><%= prescreen.visit_at %></td>
      <td><%= prescreen.visit_duration %></td>
      <td><%= prescreen.visit_units %></td>
      <% Prescreen::EDITABLES.each do |item| %>
        <td id="prescreen_<%= prescreen.id %>_<%= item %>_inline_edit">
          <%= prescreen.send(item) %>
        </td>
      <% end %>
      <td><%= link_to 'Show', prescreen %></td>
      <td>
        <%= link_to 'Edit', edit_prescreen_path(prescreen) %>
        <%= javascript_tag do %>
          $(document).ready(function(){
            <% Prescreen::EDITABLES.each do |item| %>
              $("#prescreen_<%= prescreen.id %>_<%= item %>_inline_edit").editInPlace({
                url: '<%= inline_update_prescreen_path(prescreen) %>',
                params: 'item=<%= item %>',
                success: function(response){ eval(response) },
                field_type: '<%= item == 'eligibility' ? 'select' : 'text' %>',
                select_options: 'potentially eligible, ineligible'
              });
            <% end %>
          });
        <% end %>
      </td>
      <td><%= link_to 'Destroy', prescreen, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New Prescreen', new_prescreen_path %>
