<% @title = 'Prescreens' %>
<h1><%= @title %></h1>

<% width = '1074px' %>

<%= link_to image_tag('contour/addfile.png', alt: '') + "Create New Prescreen", new_prescreen_path, class: 'button positive' %>

<div style="clear:both"></div>


<%= form_tag bulk_prescreens_path, method: :post do %>
  <fieldset>
    <legend>
      Spreadsheet Prescreen Import
    </legend>
    <div class="field">
      <label>Visit Date:</label>
      <%= text_field_tag :visit_date, Date.today.strftime('%m/%d/%Y'), class: 'datepicker' %>
    </div>
    <div class="field">
      <label>Spreadsheet Dump:</label><br />
      <%= text_area_tag :tab_dump, '', rows: 7, style: "width:#{width}" %>
    </div>
  </fieldset>

  <%= submit_tag 'Import' %>

<% end %>


<%= form_tag prescreens_path, method: :get, remote: true, id: "prescreens_search", style: "margin-bottom:-5px" do %>
  Search <%= text_field_tag 'mrn', params[:mrn] %> <%#= information %>
<% end %>

<div id="prescreens"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#prescreens_search").attr("action"), $("#prescreens_search").serialize(), null, "script");
  });
<% end %>
