<% @title = 'Prescreens' %>
<h1><%= @title %></h1>

<% width = '1074px' %>

<% form_name = "bulk_prescreen_form" %>
<%= form_tag bulk_prescreens_path, method: :post, id: form_name do %>
  <fieldset>
    <legend>
      Spreadsheet Prescreen Import
    </legend>
    <div class="field">
      <label>Visit Date:</label>
      <%= text_field_tag :visit_date, Date.today.strftime('%m/%d/%Y'), class: 'datepicker' %>
    </div>
    <div class="field">
      <label>Spreadsheet Dump:</label><br />
      <%= text_area_tag :tab_dump, '', rows: 7, style: "width:#{width}" %>
    </div>
    <div class="actions">
      <%= link_to_function image_tag('gentleface/16/layers_2.png', alt: '') + "Import", "$('##{form_name}').submit();", class: "button" %>
    </div>
  </fieldset>
<% end %>
<% doctors_unknown = Doctor.current.where("status = '' or status IS NULL") %>
<% clinics_unknown = Clinic.current.where("status = '' or status IS NULL") %>
<table class="blank padded" style="width:100%;table-layout:fixed">
  <tr>
    <td style="vertical-align:top">
      <% if doctors_unknown.size > 0 %>
        <fieldset>
          <legend>New Doctors</legend>
          <% doctors_unknown.each do |doctor| %>
            <div class="field">
              <%= link_to image_tag('gentleface/16/save.png', alt: '') + 'Whitelist', doctor_path(doctor, doctor: { status: 'whitelist' }, from: 'prescreens'), method: :put, class: 'button positive' %>
              <%= link_to image_tag('gentleface/16/trash.png', alt: '') + 'Blacklist', doctor_path(doctor, doctor: { status: 'blacklist' }, from: 'prescreens'), method: :put, confirm: "Blacklisting this doctor will PERMANENTLY remove all associated prescreens. Are you sure you want to blacklist #{doctor.name}?", class: 'button negative' %> <%= link_to doctor.name, doctor %>
            </div>
            <div style="clear:both"></div>
          <% end %>
        </fieldset>
      <% end %>
    </td>
    <td style="vertical-align:top">
      <% if clinics_unknown.size > 0 %>
        <fieldset>
          <legend>New Clinics</legend><ul>
          <% clinics_unknown.each do |clinic| %>
            <div class="field">
              <%= link_to image_tag('gentleface/16/save.png', alt: '') + 'Whitelist', clinic_path(clinic, clinic: { status: 'whitelist' }, from: 'prescreens'), method: :put, class: 'button positive' %>
              <%= link_to image_tag('gentleface/16/trash.png', alt: '') + 'Blacklist', clinic_path(clinic, clinic: { status: 'blacklist' }, from: 'prescreens'), method: :put, confirm: "Blacklisting this clinic will PERMANENTLY remove all associated prescreens. Are you sure you want to blacklist #{clinic.name}?", class: 'button negative' %> <%= link_to clinic.name, clinic %>
            </div>
            <div style="clear:both"></div>
          <% end %>
        </fieldset>
      <% end %>
    </td>
  </tr>
</table>


<%= form_tag prescreens_path, method: :get, remote: true, id: "prescreens_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'mrn', params[:mrn] %> <%#= information %>
<% end %>

<div id="prescreens"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#prescreens_search").attr("action"), $("#prescreens_search").serialize(), null, "script");
  });
<% end %>
