<% @title = "Prescreen: #{@prescreen.name}" %>
<h1><%= @title %></h1>

<% if current_user.system_admin? %> <%# current_user.all_prescreens.include?(@prescreen) %>
  <%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Prescreen", edit_prescreen_path(@prescreen), class: 'button' %>
  <%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Prescreen", @prescreen, confirm: "Are you sure you want to delete Prescreen #{@prescreen.name}?", method: :delete, class: 'button negative' %>
<% end %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View All Prescreens", prescreens_path, class: 'button' %>
<div style="clear:both"></div>

<fieldset>
  <legend>Prescreen</legend>
  <p>
    <b>Patient:</b>
    <%= link_to @prescreen.patient.mrn, @prescreen.patient if @prescreen.patient %>
  </p>

  <p>
    <b>Clinic:</b>
    <%= @prescreen.clinic.name %>
  </p>

  <p>
    <b>Cardiologist:</b>
    <%= @prescreen.doctor.name %>
  </p>

  <p>
    <b>Visit at:</b>
    <%= simple_time(@prescreen.visit_at) %>
  </p>

  <p>
    <b>Visit duration:</b>
    <%= @prescreen.visit_duration %>
  </p>

  <p>
    <b>Visit units:</b>
    <%= @prescreen.visit_units %>
  </p>

  <p>
    <b>Eligibility:</b>
    <%= @prescreen.eligibility %>
  </p>

  <p>
    <b>Exclusion:</b>
    <%= @prescreen.exclusion %>
  </p>

  <p>
    <b>Old Risk factors:</b>
    <%= @prescreen.old_risk_factors %>
  </p>
</fieldset>
