<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@visit, html: { class: 'form-horizontal' }) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :patient_id, class: 'control-label' %>
    <div class="controls">
      <%= link_to @visit.patient.code, @visit.patient if @visit.patient %>
      <%= f.hidden_field :patient_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :visit_type, class: 'control-label' %>
    <div class="controls">
      <%= f.select :visit_type, [['---', nil]] + Choice.where(category: 'visit type').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :visit_date, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :visit_date, class: 'datepicker', value: @visit.visit_date ? @visit.visit_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :outcome, class: 'control-label' %>
    <div class="controls">
      <%= f.select :outcome, [['---', nil]] + Choice.where(category: 'visit outcome').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :comments, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :comments, rows: 7, style: "width:99%" %>
    </div>
  </div>

  <div class="form-actions">
    <% form_name = @visit.new_record? ? 'new_visit' : "edit_visit_#{@visit.id}" %>
    <%= link_to_function (@visit.new_record? ? "Create Visit" : "Update Visit"), "$('##{form_name}').submit();", class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
