<% width = '1074px' %>

<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :patient_id %><br />
      <%= link_to @visit.patient.code, @visit.patient if @visit.patient %>
      <%= f.hidden_field :patient_id %>
    </div>

    <div class="field">
      <%= f.label :visit_type %><br />
      <%= f.select :visit_type, [['---', nil]] + Choice.where(category: 'visit type').collect{|c| [c.name, c.id]} %>
    </div>

    <div class="field">
      <%= f.label :visit_date %><br />
      <%= f.text_field :visit_date, class: 'datepicker', value: @visit.visit_date ? @visit.visit_date.strftime('%m/%d/%Y') : '' %>
    </div>

    <div class="field">
      <%= f.label :outcome %><br />
      <%= f.select :outcome, [['---', nil]] + Choice.where(category: 'visit outcome').collect{|c| [c.name, c.id]} %>
    </div>

    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments, rows: 7, style: "width:#{width}" %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @visit.new_record? ? 'new_visit' : "edit_visit_#{@visit.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@visit.new_record? ? "Create Visit" : "Update Visit"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
    <br />
  </div>
<% end %>
