<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @visits.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.patient_id", 'Patient') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.visit_type", 'Visit type') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.visit_date", 'Visit date') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.outcome", 'Outcome') %></th>
    </tr>
  </thead>

  <% @visits.each do |visit| %>
    <tr>
      <td><%= link_to visit.patient.phi_code(current_user), visit.patient if visit.patient %></td>
      <td><%= link_to visit.visit_type_name, visit %></td>
      <td><%= simple_date visit.visit_date %></td>
      <td><%= visit.outcome_name %></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @visits, theme: "contour" %></center>
