<%= render partial: 'layouts/per_page', locals: { object_count: @visits.total_count, type: 'visits' } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.patient_id", 'Patient', 'visits_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.visit_type", 'Visit type', 'visits_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.visit_date", 'Visit date', 'visits_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.outcome", 'Outcome', 'visits_search') %></th>
    </tr>
  </thead>

  <% @visits.each do |visit| %>
    <tr>
      <td><%= link_to visit.patient.phi_code(current_user), visit.patient if visit.patient %></td>
      <td><%= link_to visit.visit_type_name, visit %></td>
      <td><%= simple_date visit.visit_date %></td>
      <td><%= visit.outcome_name %></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @visits, theme: "contour" %></center>
