<div style="float:right;text-align:right">
  Per Page
  <span class="per_page">20</span><br />
  <%= "<b>Displaying #{@visits.count} of #{@visit_count}</b>".html_safe if @visit_count %>
</div>

<div style="clear:both"></div>

<div class="frame">
  <table style="width:100%">
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.patient_id", 'Patient', 'visits_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.visit_type", 'Visit type', 'visits_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.visit_date", 'Visit date', 'visits_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "visits.outcome", 'Outcome', 'visits_search') %></th>
    </tr>

  <% @visits.each do |visit| %>
    <tr>
      <td><%= link_to visit.patient.code, visit.patient if visit.patient %></td>
      <td><%= link_to visit.visit_type_name, visit %></td>
      <td><%= simple_date visit.visit_date %></td>
      <td><%= visit.outcome_name %></td>
    </tr>
  <% end %>
  </table>
</div>

<center><%= paginate @visits %></center>
