<% @title = 'Visits' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag visits_path, method: :get, remote: true, id: "visits_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>

  <div class="row">
    <div class="span4 control-group">
      <%= label :mrn, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :mrn, params[:mrn] %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :visit_after, 'Visit Date After', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'visit_after', params[:visit_after], class: 'datepicker' %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :visit_before, 'Visit Date Before', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'visit_before', params[:visit_before], class: 'datepicker' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group">
      <%= label :outcome, 'Outcome', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :outcome, options_for_select([['---', nil]] + Choice.where(category: 'visit outcome').collect{|c| [c.name, c.id]}, params[:outcome]) %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :visit_type, 'Visit Type', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :visit_type, options_for_select([['---', nil]] + Choice.where(category: 'visit type').collect{|c| [c.name, c.id]}, params[:visit_type]) %>
      </div>
    </div>
  </div>

  <div class='form-actions'>
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
    <%= link_to 'Export Contact List', '#', class: 'btn', data: { target: '#visits_search', object: 'export', format: 'contact_csv' } %>
    <%= link_to 'Export CSV', '#', class: 'btn', data: { target: '#visits_search', object: 'export', format: 'csv' } %>
  </div>
<% end %>

<div id="visits"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
