<% @title = 'Visits' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag visits_path, method: :get, id: "visits_search", class: 'form-vertical' do %>
  <%= hidden_field_tag :order, params[:order] %>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :mrn, 'Search', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag :mrn, params[:mrn], class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :visit_after, 'Visit Date After', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag 'visit_after', params[:visit_after], class: 'datepicker form-control' %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :visit_before, 'Visit Date Before', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag 'visit_before', params[:visit_before], class: 'datepicker form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :outcome, 'Outcome', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= select_tag :outcome, options_for_select([['---', nil]] + Choice.where(category: 'visit outcome').collect{|c| [c.name, c.id]}, params[:outcome]), class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :visit_type, 'Visit Type', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= select_tag :visit_type, options_for_select([['---', nil]] + Choice.where(category: 'visit type').collect{|c| [c.name, c.id]}, params[:visit_type]), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>
      <%= link_to 'Reset', visits_path, class: 'btn btn-default' %>
      <%= link_to 'Export Contact List', '#', class: 'btn btn-default', data: { target: '#visits_search', object: 'export', format: 'contact_csv' } %>
      <%= link_to 'Export CSV', '#', class: 'btn btn-default', data: { target: '#visits_search', object: 'export', format: 'csv' } %>
    </div>
  </div>
<% end %>

<%= render partial: 'visits/visits' %>
