<% @title = "Visit: #{@visit.name}" %>
<h1><%= @title %></h1>

<% if current_user.screener? or current_user.subject_handler? %> <%# current_user.all_visits.include?(@visit) %>
  <%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Visit", edit_visit_path(@visit), class: 'button' %>
  <%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Visit", @visit, confirm: "Are you sure you want to delete Visit #{@visit.name}?", method: :delete, class: 'button negative' %>
<% end %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View All Visits", visits_path, class: 'button' %>
<div style="clear:both"></div>

<fieldset>
  <legend><%= image_tag "gentleface/16/users.png", alt: '', style: 'vertical-align:text-bottom' %> Visit</legend>

  <p>
    <b>Patient:</b>
    <%= link_to @visit.patient.code, @visit.patient if @visit.patient %>
  </p>

  <p>
    <b>Visit type:</b>
    <%= @visit.visit_type_name %>
  </p>

  <p>
    <b>Visit date:</b>
    <%= simple_date @visit.visit_date %>
  </p>

  <p>
    <b>Outcome:</b>
    <%= @visit.outcome_name %>
  </p>

  <p>
    <b>Comments:</b>
    <%= @visit.comments %>
  </p>
</fieldset>
