<%= render partial: 'layouts/per_page', locals: { object_count: @choices.total_count, type: 'choices', per_page: 40 } %>

<table class="table table-striped" style="table-layout:fixed">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "choices.category", "Category", 'choices_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "choices.name", "Name", 'choices_search') %></th>
      <th>Description</th>
      <th>Included Fields</th>
      <th>Color</th>
    </tr>
  </thead>

  <% @choices.each do |choice| %>
    <tr>
      <td><%= choice.category %></td>
      <td><%= link_to choice.name, choice %></td>
      <td><%= choice.description %></td>
      <td><%= choice.fields.join(', ') %></td>
      <td><span class="label" style="background-color: <%= choice.color %>"><%= choice.color %></span></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @choices, theme: "contour" %></center>
