<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@choice, html: { class: 'form-horizontal' }) do |f| %>
  <% if @choice.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@choice.errors.count, "error") %> prohibited this choice from being saved</h4>

      <ul>
      <% @choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :category, Choice::CATEGORIES %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 7, style: "width:99%" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :color, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.hidden_field :color, id: "choice_hexcolor" %>
      <div class="custom_widget">
        <div class="colorselector" data-object="color-selector" data-target="#choice_hexcolor" data-color="<%= @choice.color.blank? ? '#ffffff' : @choice.color %>" style="background-image: none">
          <div id="choice_hexcolor_display" style="background-color: <%= @choice.color.blank? ? '#ffffff' : @choice.color %>;top:0px;left:0px"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :included_fields, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :included_fields, rows: 7, style: "width:99%" %>
      <div class="muted">Comma or Whitespace Separated</div>
      <small>
      Valid Choices:
        <span class="muted">
          <% if ['call type'].include?(@choice.category) %>
            <%= Call::TOGGLE_FIELDS.join(', ') %>
          <% elsif ['administration type'].include?(@choice.category) %>
            <%= Evaluation::TOGGLE_FIELDS.join(', ') %>
          <% end %>
        </span>
      </small>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
