<% width = '1074px' %>

<%= form_for(@choice, html: { class: 'form-horizontal' }) do |f| %>
  <% if @choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choice.errors.count, "error") %> prohibited this choice from being saved:</h2>

      <ul>
      <% @choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :category %><br />
      <%= f.select :category, Choice::CATEGORIES %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, rows: 7, style: "width:#{width}" %>
    </div>
    <div class="field">
      <%= f.label :color %><br />
      <%= f.hidden_field :color, id: "choice_hexcolor" %>
      <div class="custom_widget">
        <div id="choice_colorselector" class="colorselector">
          <div style="background-color: <%= @choice.color %>"></div>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :included_fields %> <span class="quiet">Comma or Whitespace Separated</span><br />
      <%= f.text_area :included_fields, rows: 7, style: "width:#{width}" %>
      Valid Choices:
      <span class="quiet">
        <% if ['call type'].include?(@choice.category) %>
          <%= Call::TOGGLE_FIELDS.join(', ') %>
        <% elsif ['administration type'].include?(@choice.category) %>
          <%= Evaluation::TOGGLE_FIELDS.join(', ') %>
        <% end %>
      </span>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @choice.new_record? ? 'new_choice' : "edit_choice_#{@choice.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@choice.new_record? ? "Create Choice" : "Update Choice"), "$('##{form_name}').submit();", class: 'btn btn-primary' %>
    <%= cancel %>
    <br />
  </div>
<% end %>

<%= javascript_tag do %>
  $('#choice_colorselector')
    .ColorPicker({
      color: '<%= @choice.color %>',
      onShow: function (colpkr) {
        $(colpkr).fadeIn(500);
        return false;
      },
      onChange: function (hsb, hex, rgb) {
        $('#choice_hexcolor').val('#' + hex);
        $('#choice_colorselector div').css('backgroundColor', '#' + hex);
      }
    });
<% end %>
