<h1>Listing choices</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Color</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @choices.each do |choice| %>
  <tr>
    <td><%= choice.category %></td>
    <td><%= choice.name %></td>
    <td><%= choice.description %></td>
    <td><%= choice.color %></td>
    <td><%= choice.deleted %></td>
    <td><%= link_to 'Show', choice %></td>
    <td><%= link_to 'Edit', edit_choice_path(choice) %></td>
    <td><%= link_to 'Destroy', choice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Choice', new_choice_path %>
