<% @title = 'Choices' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%#= link_to image_tag('gentleface/16/doc_new.png', alt: '') + "Create New Choice", new_choice_path, class: 'btn btn-primary' %>

<%= form_tag choices_path, method: :get, remote: true, id: "choices_search", style: "margin-bottom:-5px", class: 'form-search' do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="choices"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#choices_search").attr("action"), $("#choices_search").serialize(), null, "script");
  });
<% end %>
