<% @title = 'Choices' %>
<h1><%= @title %></h1>

<%#= link_to image_tag('gentleface/16/doc_new.png', alt: '') + "Create New Choice", new_choice_path, class: 'button positive' %>

<%= form_tag choices_path, method: :get, remote: true, id: "choices_search", style: "margin-bottom:-5px" do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'search', params[:search] %>
<% end %>

<div id="choices"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#choices_search").attr("action"), $("#choices_search").serialize(), null, "script");
  });
<% end %>
