<% @title = "Choice: #{@choice.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.screener? %>
      <%= link_to "Edit Choice", edit_choice_path(@choice), class: 'btn btn-xs btn-default' %>
      <%= link_to "Delete Choice", @choice, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Choice #{@choice.name}?" } %>
    <% end %>
    <%= link_to "View Choices", choices_path, class: 'btn btn-xs btn-default' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @choice.category %></dd>

  <dt>Name</dt>
  <dd><%= @choice.name %></dd>

  <dt>Description</dt>
  <dd><%= @choice.description %></dd>

  <dt>Included Fields</dt>
  <dd>
    <ul>
      <% @choice.fields.each do |field| %>
        <li><%= field %></li>
      <% end %>
    </ul>
  </dd>


  <dt>Color</dt>
  <dd><span class="label" style="line-height:18px;background-color: <%= @choice.color %>"><%= @choice.color %></span></dd>
</dl>




