<% @title = "Choice: #{@choice.name}" %>
<h1><%= @title %></h1>

<% if current_user.screener? %> <%# current_user.all_choices.include?(@choice) %>
  <%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Choice", edit_choice_path(@choice), class: 'btn' %>
  <%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Choice", @choice, confirm: "Are you sure you want to delete Choice #{@choice.name}?", method: :delete, class: 'btn btn-danger' %>
<% end %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View Choices", choices_path, class: 'btn' %>
<div style="clear:both"></div>

<fieldset>
  <legend><%= image_tag "gentleface/16/checkbox_checked.png", alt: '', style: 'vertical-align:text-bottom' %> Choice</legend>

  <p>
    <b>Category:</b>
    <%= @choice.category %>
  </p>

  <p>
    <b>Name:</b>
    <%= @choice.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @choice.description %>
  </p>

  <p>
    <b>Included Fields:</b>
    <ul>
      <% @choice.fields.each do |field| %>
        <li><%= field %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <b>Color:</b>
    <span class="choice_bubble" style="background-color: <%= @choice.color %>"><%= @choice.color %></span>
  </p>
</fieldset>
