<div style="float:right;text-align:right">
  Per Page
  <span class="per_page">20</span><br />
  <%= "<b>Displaying #{@calls.count} of #{@call_count}</b>".html_safe if @call_count %>
</div>

<div style="clear:both"></div>

<div class="frame">
  <table style="width:100%">
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'calls.patient_id', 'Patient', 'calls_search') %></th>
      <th>Response</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'calls.call_time', 'Call time', 'calls_search') %></th>
      <th>Berlin</th>
      <th>ESS</th>
      <th>Eligibility</th>
      <th>Comments</th>
    </tr>

  <% @calls.each do |call| %>
    <tr>
      <td><%= link_to call.patient.code, call.patient if call.patient %></td>
      <td><%= call.response_name %></td>
      <td><%= link_to simple_time(call.call_time), call %></td>
      <td><%= call.berlin %></td>
      <td><%= call.ess %></td>
      <td><%= call.eligibility %></td>
      <td><%= call.comments %></td>
    </tr>
  <% end %>
  </table>
</div>

<center><%= paginate @calls %></center>
