<% @call = @object %>

<div id="event_<%= @event.id %>_comments_long" style="display:none;" class="right-bubble">
  <dl>
    <dt>Creator</dt>
    <dd><%= @call.user.name %></dd>

    <% unless @call.berlin.blank? %>
      <dt>Berlin</dt>
      <dd><%= @call.berlin %></dd>
    <% end %>

    <% unless @call.ess.blank? %>
      <dt>ESS</dt>
      <dd><%= @call.ess %></dd>
    <% end %>

    <% unless @call.eligibility.blank? %>
      <dt>Eligibility</dt>
      <dd><%= @call.eligibility %></dd>
    <% end %>

    <% unless @call.exclusion_name.blank? %>
      <dt>Exclusion</dt>
      <dd><%= @call.exclusion_name %></dd>
    <% end %>

    <% unless @call.participation_name.blank? %>
      <dt>Participation</dt>
      <dd><%= @call.participation_name %></dd>
    <% end %>

    <% unless @call.comments.blank? %>
      <dt>Comments</dt>
      <dd><%= simple_format @call.comments %></dd>
    <% end %>
  </dl>

  <% unless @call.tt_group_id.blank? %>
    <div id="show_group_<%= @call.tt_group_id %>">
      <%= image_tag "contour/ajax-loader.gif" %>
    </div>

    <%= form_tag show_group_call_path(@call), method: :post, remote: true, style: 'display:inline', id: "group_#{@call.tt_group_id}_call_form", data: { object: 'form-load' } do %>
      <%= hidden_field_tag 'screen_token', '' %>
    <% end %>
  <% end %>
</div>
