<% @call = @object %>

<div id="event_<%= @event.id %>_comments_long" style="display:none;" class="right-bubble">
  <dl>
    <dt>Creator</dt>
    <dd><%= @call.user.name %></dd>

    <% unless @call.berlin.blank? %>
      <dt>Berlin</dt>
      <dd><%= @call.berlin %></dd>
    <% end %>

    <% unless @call.ess.blank? %>
      <dt>ESS</dt>
      <dd><%= @call.ess %></dd>
    <% end %>

    <% unless @call.eligibility.blank? %>
      <dt>Eligibility</dt>
      <dd><%= @call.eligibility %></dd>
    <% end %>

    <% unless @call.exclusion_name.blank? %>
      <dt>Exclusion</dt>
      <dd><%= @call.exclusion_name %></dd>
    <% end %>

    <% unless @call.participation_name.blank? %>
      <dt>Participation</dt>
      <dd><%= @call.participation_name %></dd>
    <% end %>

    <% unless @call.comments.blank? %>
      <dt>Comments</dt>
      <dd><%= simple_format @call.comments %></dd>
    <% end %>
  </dl>
</div>
