<% @call = @object %>

<div id="event_<%= @event.id %>_comments_long" style="display:none;" class="right-bubble">
<% unless @call.berlin.blank? %>
  <p>
    <b>Berlin:</b>
    <%= @call.berlin %>
  </p>
<% end %>

<% unless @call.ess.blank? %>
  <p>
    <b>ESS:</b>
    <%= @call.ess %>
  </p>
<% end %>

<% unless @call.eligibility.blank? %>
  <p>
    <b>Eligibility:</b>
    <%= @call.eligibility %>
  </p>
<% end %>

<% unless @call.exclusion_name.blank? %>
  <p>
    <b>Exclusion:</b>
    <%= @call.exclusion_name %>
  </p>
<% end %>

<% unless @call.participation_name.blank? %>
  <p>
    <b>Participation:</b>
    <%= @call.participation_name %>
  </p>
<% end %>

<% unless @call.comments.blank? %>
  <div class="marginless">
    <b>Comments:</b>
    <%= simple_format @call.comments %>
  </div>
<% end %>

<% unless @call.tt_group_id.blank? %>
  <div id="show_group_<%= @call.tt_group_id %>">
    <%= image_tag "ajax-loader.gif" %>
  </div>

  <%= form_tag show_group_call_path(@call), method: :post, remote: true, style: 'display:inline', id: "group_#{@call.tt_group_id}_call_form" do %>
    <%= hidden_field_tag 'screen_token', '' %>
  <% end %>

  <%= javascript_tag do %>
    $(function(){
      $.post($("#group_<%= @call.tt_group_id %>_call_form").attr("action"), $("#group_<%= @call.tt_group_id %>_call_form").serialize(), null, "script");
    });
  <% end %>
<% end %>
</div>
