<div class="page-header">
  <h1><%= @title %></h1>
</div>

<% if @call.patient %>
  <table class="table table-condensed table-striped table-bordered" style="width:100%;table-layout:fixed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Home Phone</th>
        <th>Day Phone</th>
        <th>Alt Phone</th>
        <th>Doctor</th>
      </tr>
    </thead>
    <tr>
      <td><%= @call.patient.phi_name(current_user) %></td>
      <td><%= pretty_phone @call.patient.phi_phone_home(current_user) %></td>
      <td><%= pretty_phone @call.patient.phi_phone_day(current_user) %></td>
      <td><%= pretty_phone @call.patient.phi_phone_alt(current_user) %></td>
      <td>
        <% Doctor.where(id: @call.patient.prescreens.pluck(:doctor_id) + @call.patient.mailings.pluck(:doctor_id)).group_by(&:doctor_type).sort.each do |doctor_type, doctors| %>
          <b><%= doctor_type.titleize %></b>
          <ul>
            <% doctors.each do |doctor| %>
              <li><%= doctor.name %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

<%= form_for(@call, html: { class: 'form-horizontal' }) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :patient_id, class: 'control-label' %>
    <div class="controls">
      <%= link_to @call.patient.phi_code(current_user), @call.patient if @call.patient %>
      <%= f.hidden_field :patient_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :call_type, class: 'control-label' %>
    <div class="controls">
      <%= f.select :call_type, [['---', nil]] + Choice.where(category: 'call type').collect{|c| [c.name, c.id]} %>
      <%= javascript_tag do %>
        window.choices = {};
        <% Choice.where(category: 'call type').each do |c| %>
          window.choices['<%= c.id %>'] = <%= c.fields.collect{|f| "#call_#{f}"}.to_json.html_safe %>;
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :direction, class: 'control-label' %>
    <div class="controls">
      <%= f.select :direction, Call::CALL_DIRECTION %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :response, class: 'control-label' %>
    <div class="controls">
      <%= f.select :response, [['---', nil]] + Choice.where(category: 'call response').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :call_date, 'Call date', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :call_date, @call.call_date, class: 'datepicker' %> <%= link_to 'Current Time', "#", data: { object: 'set-current-time' } %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :call_time, 'Call time', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :call_time, @call.call_at_string %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :berlin, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :berlin %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :ess, 'ESS', class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :ess %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :eligibility, class: 'control-label' %>
    <div class="controls">
      <%= f.select :eligibility, Call::ELIGIBILITY %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :exclusion, class: 'control-label' %>
    <div class="controls">
      <%= f.select :exclusion, [['---', nil]] + Choice.where(category: 'exclusion').collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :participation, class: 'control-label' %>
    <div class="controls">
      <%= f.select :participation, [['---', nil]] + Choice.where(category: 'participation').collect{|c| [c.name, c.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :comments, rows: 7, style: "width:95%" %>
    </div>
  </div>

  <div id="task_tracker_templates">
    <%= image_tag "contour/ajax-loader.gif" %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>

<%= form_tag task_tracker_templates_calls_path, method: :post, remote: true, style: 'display:inline', id: 'templates_form', data: { object: 'form-load' } do %>
  <%= hidden_field_tag 'screen_token', '' %>
  <%= hidden_field_tag 'tt_template_id', @call.tt_template_id %>
  <%= hidden_field_tag 'initial_due_date', params[:initial_due_date] %>
<% end %>

<%= javascript_tag do %>
  window.toggle_fields = <%= Call::TOGGLE_FIELDS.collect{|f| "#call_#{f}"}.to_json.html_safe %>;
  window.show_fields = [];
<% end %>
