<% width = '1074px' %>

<% if @call.patient %>
  <div class="frame">
    <table style="width:100%;table-layout:fixed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Home Phone</th>
          <th>Day Phone</th>
          <th>Alt Phone</th>
          <th>Doctor</th>
        </tr>
      </thead>
      <tr>
        <td><%= @call.patient.name %></td>
        <td><%= pretty_phone @call.patient.phone_home %></td>
        <td><%= pretty_phone @call.patient.phone_day %></td>
        <td><%= pretty_phone @call.patient.phone_alt %></td>
        <td>
          <% Doctor.where(id: @call.patient.prescreens.pluck(:doctor_id)).group_by(&:doctor_type).sort.each do |doctor_type, doctors| %>
            <b><%= doctor_type.titleize %></b>
            <ul>
              <% doctors.each do |doctor| %>
                <li><%= doctor.name %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
<% end %>

<%= form_for(@call) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :patient_id %><br />
      <%= link_to @call.patient.code, @call.patient if @call.patient %>
      <%= f.hidden_field :patient_id %>
    </div>

    <div class="field">
      <%= f.label :call_type %><br />
      <%= f.select :call_type, [['---', nil]] + Choice.where(category: 'call type').collect{|c| [c.name, c.id]} %>
    </div>

    <div class="field">
      <%= f.label :direction %><br />
      <%= f.select :direction, Call::CALL_DIRECTION %>
    </div>

    <div class="field">
      <%= f.label :response %><br />
      <%= f.select :response, [['---', nil]] + Choice.where(category: 'call response').collect{|c| [c.name, c.id]} %>
    </div>

    <div class="field">
      <%= label_tag :call_date %><br />
      <%= text_field_tag :call_date, @call.call_date, class: 'datepicker' %> <%= link_to_function 'Current Time', "#", id: 'set_current_time' %>
    </div>

    <div class="field">
      <%= label_tag :call_time %><br />
      <%= text_field_tag :call_time, @call.call_at_string %>
    </div>

    <div class="field">
      <%= f.label :berlin %><br />
      <%= f.number_field :berlin %>
    </div>
    <div class="field">
      <%= f.label :ess, 'ESS' %><br />
      <%= f.number_field :ess %>
    </div>
    <div class="field">
      <%= f.label :eligibility %><br />
      <%= f.select :eligibility, Call::ELIGIBILITY %>
    </div>
    <div class="field">
      <%= f.label :exclusion %><br />
      <%= f.select :exclusion, [['---', nil]] + Choice.where(category: 'exclusion').collect{|c| [c.name, c.id]} %>
    </div>
    <div class="field">
      <%= f.label :participation %><br />
      <%= f.select :participation, [['---', nil]] + Choice.where(category: 'participation').collect{|c| [c.name, c.id]} %>
    </div>
    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments, rows: 7, style: "width:#{width}" %>
    </div>
    <div id="task_tracker_templates">
      <%= image_tag "ajax-loader.gif" %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @call.new_record? ? 'new_call' : "edit_call_#{@call.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@call.new_record? ? "Create Call" : "Update Call"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
    <br />
  </div>
<% end %>

<%= form_tag task_tracker_templates_calls_path, method: :post, remote: true, style: 'display:inline', id: 'templates_form' do %>
  <%= hidden_field_tag 'screen_token', '' %>
  <%= hidden_field_tag 'tt_template_id', @call.tt_template_id %>
  <%= hidden_field_tag 'initial_due_date', params[:initial_due_date] %>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $.post($("#templates_form").attr("action"), $("#templates_form").serialize(), null, "script");
  });
<% end %>
