<% width = '1074px' %>
<% if TASK_TRACKER_URL.blank? %>
  <%# Render blank (different from nothing) %>
<% elsif current_user.task_tracker_screen_token.blank? or @group.blank? %>
  <div class="field">
    Please enter your Task Tracker Screen Token which you can find here:<br />
    <%= link_to TASK_TRACKER_URL + "/settings#screen_token", TASK_TRACKER_URL + "/settings#screen_token", target: '_blank' %><br />
    <%= label_tag 'task_tracker_screen_token' %><br />
    <%= text_field_tag "task_tracker_screen_token", '', style: "width:#{width}" %>
    <div style="clear:both"></div>
    <%= link_to_function image_tag('gentleface/16/key.png', alt: '', size: '11x11') + 'Update My Screen Token', "$('#screen_token').val($('#task_tracker_screen_token').val()); $.post($('#group_call_form').attr('action'), $('#group_call_form').serialize(), null, 'script');", class: 'btn' %>
  </div>
<% else %>
<fieldset>
  <legend>Group: <%= link_to @group['id'], @group['group_link'], target: '_blank' %></legend>

  <p>
    <b>Creator:</b>
    <%= @group['creator_name'] %>
  </p>

  <p>
    <b>Generated From Template:</b>
    <%= @group['template']['name'] if @group['template'] %>
  </p>

  <p>
    <b>Description (Additional Information):</b>
    <div style="padding-left:5px">
      <%= simple_format @group['description'] %>
    </div>
  </p>

  <p>
    <table class="blank padded" style="width:100%;background-color:transparent">
      <thead>
        <tr>
          <th style="text-align:left">Sticky</th>
          <th style="text-align:left">Due Date</th>
        </tr>
      </thead>
      <% (@group['stickies'] || []).each do |sticky| %>
        <tr>
          <td>
            <% if sticky['completed'] %>
              <%= image_tag("gentleface/16/checkmark.png", alt: '', size: '10x10') %> <span style="text-decoration:line-through"><%= sticky['id'] %></span>
            <% else %>
              <%= sticky['id'] %>
            <% end %>
            <%= simple_format sticky['description'] %>
          </td>
          <td><%= simple_date Time.parse(sticky['due_date']) rescue '' %></td>
        </tr>
      <% end %>
    </table>
  </p>
</fieldset>
<% end %>
