<% if TASK_TRACKER_URL.blank? %>
  <%# Render blank (different from nothing) %>
<% elsif current_user.task_tracker_screen_token.blank? or @templates.blank? %>
  <div class="form-group">
    <%= label :task_tracker_screen_token, 'Task Tracker Token', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= text_field_tag "task_tracker_screen_token", '', style: "width:99%" %>
      <%= link_to 'Update My Screen Token', '#', class: 'btn btn-xs btn-primary', data: { object: 'screen-token-update', target: '#templates_form' } %>
      <small>Please enter your Task Tracker Screen Token: <%= link_to TASK_TRACKER_URL + "/settings#screen_token", TASK_TRACKER_URL + "/settings#screen_token", target: '_blank' %></small>
    </div>
  </div>
<% else %>
        <div class="form-group">
          <%= label 'call', 'tt_template_id', 'Template', class: 'col-md-2 control-label' %>
          <div class="col-md-10">
            <%= select 'call', 'tt_template_id', options_for_select([['---', nil]] + @templates.collect{|t| [t['full_name'], t['id']]}, params[:tt_template_id]) %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :initial_due_date, 'Initial Template Due Date', class: 'col-md-2 control-label' %>
          <div class="col-md-10">
            <%= text_field_tag :initial_due_date, params[:initial_due_date], class: 'datepicker' %>
            <%= javascript_tag "$('.datepicker').datepicker({ showOtherMonths: true, selectOtherMonths: true, changeMonth: true, changeYear: true });" %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :template_description, 'Template Description', class: 'col-md-2 control-label' %>
          <div class="controls" id="template_description"></div>
        </div>

  <%= javascript_tag do %>
    var templates = {};
    <% @templates.each do |template| %>
      templates['<%= template['id'] %>'] = <%= template.to_json.html_safe %>;
    <% end %>
    $("#call_tt_template_id").change(function() {
      var template = templates[''+$(this).val()];
      if(template != null){
        html_string = "<table class='table table-striped table-condensed table-bordered' style='width:100%'><thead><tr><th style='text-align:left'>Sticky</th><th style='text-align:left'>Offset</th><th style='text-align:left'>Assign To</th><th style='text-align:left'>Tags</th></tr></thead>";

        $.each(template['items'], function(i, item){
          html_string += "<tr><td>" + item['description'] +"</td><td>" + item['interval'] + " " + item['units'] + "</td><td>" + item['owner_id'] + "</td><td>" + item['tag_ids'] + "</td></tr>";
        });
        html_string += "</table>";
        $("#template_description").html(html_string);
      }else{
        $("#template_description").html("");
      }
    });
  <% end %>
<% end %>
