<% @title = "Call: #{@call.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.screener? or current_user.subject_handler? %>
      <%= link_to "Edit Call", edit_call_path(@call), class: 'btn btn-mini' %>
      <%= link_to "Delete Call", @call, confirm: "Are you sure you want to delete Call #{@call.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <% end %>
    <%= link_to "View Calls", calls_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Patient</dt>
  <dd><%= link_to @call.patient.code, @call.patient if @call.patient %></dd>

  <dt>Response</dt>
  <dd><%= @call.response_name %></dd>

  <dt>Call type</dt>
  <dd><%= @call.call_type_name %> <%= @call.direction %></dd>

  <dt>Call time</dt>
  <dd><%= simple_time @call.call_time %></dd>

  <dt>Berlin</dt>
  <dd><%= @call.berlin %></dd>

  <dt>ESS</dt>
  <dd><%= @call.ess %></dd>

  <dt>Eligibility</dt>
  <dd><%= @call.eligibility %></dd>

  <dt>Exclusion</dt>
  <dd><%= @call.exclusion_name %></dd>

  <dt>Participation</dt>
  <dd><%= @call.participation_name %></dd>

  <dt>Comments</dt>
  <dd><%= @call.comments %></dd>
</dl>

<% unless @call.tt_group_id.blank? %>
  <div id="show_group_<%= @call.tt_group_id %>">
    <%= image_tag "ajax-loader.gif" %>
  </div>

  <%= form_tag show_group_call_path(@call), method: :post, remote: true, style: 'display:inline', id: "group_#{@call.tt_group_id}_call_form" do %>
    <%= hidden_field_tag 'screen_token', '' %>
  <% end %>

  <%= javascript_tag do %>
    $(function(){
      $.post($("#group_<%= @call.tt_group_id %>_call_form").attr("action"), $("#group_<%= @call.tt_group_id %>_call_form").serialize(), null, "script");
    });
  <% end %>
<% end %>
