<div style="float:right">
  Per Page
  <span class="per_page">
    20
  </span>
</div>

<div style="clear:both"></div>

<div class="frame">
  <table style="width:100%">
    <tr>
      <th>Patient</th>
      <th>Event</th>
      <th><%== sort_field_helper(@order, 'events.event_time', 'Time', 'events_search') %></th>
    </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.patient.mrn, event.patient if event.patient %></td>
      <td>
        <%= image_tag "gentleface/16/#{event.image}.png", alt: '', style: 'vertical-align:text-bottom' %>
        <%= e = event.class_name.constantize.find_by_id(event.class_id); link_to(event.name, e) %>
      </td>
      <td><%= simple_time(event.event_time) %></td>
    </tr>
  <% end %>
  </table>
</div>

<center><%= paginate @events %></center>
