<% @title = "Event: #{@event.name}" %>
<div class="page-header">
  <h1>
    <%= link_to @event.patient.phi_code(current_user), @event.patient %> &middot; <%= @title %>
    <% if current_user.screener? or current_user.subject_handler? %>
      <%= link_to "Edit Event", edit_event_path(@event), class: 'btn btn-xs btn-default' %>
      <%= link_to "Delete Event", @event, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Event #{@event.name}?" } %>
    <% end %>
    <%= link_to "View Events", events_path, class: 'btn btn-xs btn-default' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @event.name %></dd>

  <dt>Time</dt>
  <dd><%= simple_time(@event.event_time) %></dd>

  <dt>Event Details</dt>
  <dd><%= e = @event.class_name.constantize.find_by_id(@event.class_id); link_to(@event.class_name, e) %></dd>
</dl>
