<%= render partial: 'layouts/per_page', locals: { object_count: @patient_count, type: 'users' } %>

<table class="table table-striped table-bordered" style="width:100%;table-layout:fixed"><col width="38px" />
  <thead>
    <tr>
      <th><%= image_tag 'gentleface/16/flag.png', style: 'vertical-align:text-bottom', alt: '', title: 'Priority Followup' %></th>

      <th style="white-space:nowrap"><%== sort_field_helper(@order, "patients.mrn", 'MRN', 'patients_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "patients.subject_code", 'Subject Code', 'patients_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "patients.first_name", 'First Name', 'patients_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "patients.last_name", 'Last Name', 'patients_search') %></th>

      <th>Latest Event</th>
      <th>Events</th>
    </tr>
  </thead>

  <% @patients.each do |patient| %>
    <tr onmouseover="$('.patient_<%= patient.id %>_short').hide();$('.patient_<%= patient.id %>').show();" onmouseout="$('.patient_<%= patient.id %>').hide();$('.patient_<%= patient.id %>_short').show();">
      <td style="text-align:center"><%= image_tag 'gentleface/16/flag.png', style: 'vertical-align:text-bottom', alt: '', title: patient.priority_message if patient.priority > 0 %></td>
      <td>
        <span class="patient_<%= patient.id %>_short"><%= patient.phi_mrn(current_user).to_s[0..1] %></span>
        <span class="patient_<%= patient.id %>" style="display:none"><%= link_to patient.phi_mrn(current_user), patient %></span>
      </td>
      <td>
        <span class="patient_<%= patient.id %>_short"><%= patient.subject_code.to_s[0..1] %></span>
        <span class="patient_<%= patient.id %>" style="display:none"><%= link_to patient.subject_code, patient %></span>
      </td>
      <td>
        <span class="patient_<%= patient.id %>_short"><%= patient.phi_first_name(current_user).to_s[0..1] %></span>
        <span class="patient_<%= patient.id %>" style="display:none"><%= patient.phi_first_name(current_user) %></span>
      </td>
      <td>
        <span class="patient_<%= patient.id %>_short"><%= patient.phi_last_name(current_user).to_s[0..1] %></span>
        <span class="patient_<%= patient.id %>" style="display:none"><%= patient.phi_last_name(current_user) %></span>
      </td>
      <td style="white-space:nowrap;overflow:hidden">
        <% event = patient.events.order('event_time DESC').first %>
        <%= image_tag "gentleface/16/#{event.image}.png", alt: '', style: 'vertical-align:text-bottom' if event %>
        <%= link_to event.full_name, event.object if event %>
      </td>
      <td><%= @patient = patient; render partial: 'patients/statistics' %></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @patients, theme: "contour" %></center>
