<div style="float:right">
  Per Page
  <span class="per_page">
    20
  </span>
</div>

<div style="clear:both"></div>

<% items = ['mrn', 'first_name', 'last_name', 'phone_home', 'phone_day', 'phone_alt', 'sex', 'age'] %>

<div class="frame">
  <table style="width:100%;table-layout:fixed">
    <tr>
      <th>Latest Event</th>
      <% items.each do |item| %>
        <th><%= item.titleize %></th>
      <% end %>
      <th></th>
    </tr>

  <% @patients.each do |patient| %>
    <tr onmouseover="$('.patient_<%= patient.id %>_short').hide();$('.patient_<%= patient.id %>').show();" onmouseout="$('.patient_<%= patient.id %>').hide();$('.patient_<%= patient.id %>_short').show();">
      <td style="white-space:nowrap;overflow:hidden">
        <% event = patient.events.order('event_time DESC').first %>
        <%= image_tag "gentleface/16/#{event.image}.png", alt: '', style: 'vertical-align:text-bottom' if event %>
        <%= link_to(event.name, event.class_name.constantize.find_by_id(event.class_id)) if event %>
      </td>
      <% items.each do |item| %>
        <td><span class="patient_<%= patient.id %>_short"><%= patient.send(item).to_s[0..1] %></span><span class="patient_<%= patient.id %>" style="display:none"><%= link_to_if item == 'mrn', patient.send(item), patient %></span></td>
      <% end %>
      <td><%= @patient = patient; render partial: 'patients/statistics' %></td>
    </tr>
  <% end %>
  </table>
</div>

<center><%= paginate @patients %></center>
