<% @title = "Patients" %>
<h1><%= @title %></h1>

<%= link_to image_tag('contour/addfile.png', alt: '') + "Create New Patient", new_patient_path, class: 'button positive' %>

<div style="clear:both"></div>

<%= form_tag patients_path, method: :get, remote: true, id: "patients_search", style: "margin-bottom:-5px" do %>
  Search <%= text_field_tag 'mrn', params[:mrn] %> <%#= information %>
<% end %>

<div id="patients"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#patients_search").attr("action"), $("#patients_search").serialize(), null, "script");
  });
<% end %>
