<% @title = "Patient: #{@patient.name}" %>
<h1><%= @title %></h1>

<% if current_user.system_admin? %> <%# current_user.all_patients.include?(@patient) %>
  <%= link_to image_tag('gentleface/16/doc_edit.png', alt: '') + "Edit Patient", edit_patient_path(@patient), class: 'button' %>
  <%= link_to image_tag('gentleface/16/doc_delete.png', alt: '') + "Delete Patient", @patient, confirm: "Are you sure you want to delete Patient #{@patient.name}?", method: :delete, class: 'button negative' %>
<% end %>
<%= link_to image_tag('gentleface/16/folder_open.png', alt: '') + "View All Patients", patients_path, class: 'button' %>
<div style="clear:both"></div>

<fieldset>
  <legend><%= image_tag 'gentleface/16/user.png', alt: '', style: 'vertical-align:text-bottom' %> Patient</legend>

  <p>
    <b>Mrn:</b>
    <%= @patient.mrn %>
  </p>

  <p>
    <b>First name:</b>
    <%= @patient.first_name %>
  </p>

  <p>
    <b>Last name:</b>
    <%= @patient.last_name %>
  </p>

  <p>
    <b>Home Phone:</b>
    <%= @patient.phone_home %>
  </p>

  <p>
    <b>Day Phone:</b>
    <%= @patient.phone_day %>
  </p>

  <p>
    <b>Alt Phone:</b>
    <%= @patient.phone_alt %>
  </p>

  <p>
    <b>Sex:</b>
    <%= @patient.sex %>
  </p>

  <p>
    <b>Age:</b>
    <%= @patient.age %>
  </p>

  <p>
    <b>Address:</b>
    <%= @patient.address %>
  </p>

  <p>
    <b>ESS:</b>
    <%= @patient.ess %>
  </p>

  <p>
    <b>Berlin:</b>
    <%= @patient.berlin %>
  </p>

</fieldset>

<%= link_to image_tag('gentleface/16/phone_1.png', alt: '') + 'Create Call', new_call_path(patient_id: @patient.id), class: 'button positive' %>
<%= link_to image_tag('gentleface/16/mail.png', alt: '') + 'Create Mailing', new_mailing_path(patient_id: @patient.id), class: 'button positive' %>
<%= link_to image_tag('gentleface/16/3x3_grid.png', alt: '') + 'Create Prescreen', new_prescreen_path(patient_id: @patient.id), class: 'button positive' %>

<div style="clear:both"></div>


<%= form_tag events_path(mrn: @patient.mrn), method: :get, remote: true, id: "events_search", style: "display:inline" do %>
  <%= hidden_field_tag :order %>
<% end %>

<div id="events"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#events_search").attr("action"), $("#events_search").serialize(), null, "script");
  });
<% end %>


<%#= @order = 'events.event_time DESC'; @events = @patient.events.order(@order).page(0); render partial: 'events/events' %>
