<% @title = "Patient: #{@patient.phi_code(current_user)}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.screener? or current_user.subject_handler? %> <%# current_user.all_patients.include?(@patient) %>
      <%= link_to "Edit Patient", edit_patient_path(@patient), class: 'btn btn-mini' %>
      <%= link_to "Delete Patient", @patient, confirm: "Are you sure you want to delete Patient #{@patient.phi_name(current_user)}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <% end %>
    <%= link_to "View Patients", patients_path, class: 'btn btn-mini' %>
  </h1>
</div>

<% unless @patient.priority_message.blank? %>
    <fieldset>
      <legend><%= image_tag 'gentleface/16/flag.png', style: 'vertical-align:text-bottom', alt: '', title: "Priority Level: #{@patient.priority}" %> Priority Followup</legend>
      <ul style="margin-bottom:0">
        <% @patient.priority_message.split(', ').each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </fieldset>
<% end %>

<div class="row">
  <div class="span3">
    <div class="page-header"><h2><%= image_tag 'gentleface/16/user.png', alt: '' %> Patient</h2></div>

    <dl class="dl-horizontal">
      <dt>MRN</dt>
      <dd><%= @patient.phi_mrn(current_user) %></dd>

      <dt>Subject Code</dt>
      <dd><%= @patient.subject_code %></dd>

      <dt>Name Code</dt>
      <dd><%= @patient.name_code %></dd>

      <dt>Name</dt>
      <dd><%= @patient.phi_name(current_user) %></dd>
    </dl>
  </div>
  <div class="span3">
    <div class="page-header"><h2 style="white-space:nowrap"><%= image_tag 'gentleface/16/phone_1.png', alt: '', style: 'vertical-align:text-bottom' %> Contact</h2></div>

    <dl class="dl-horizontal">
      <dt>Home Phone</dt>
      <dd><%= pretty_phone @patient.phi_phone_home(current_user) %></dd>

      <dt>Day Phone</dt>
      <dd><%= pretty_phone @patient.phi_phone_day(current_user) %></dd>

      <dt>Alt Phone</dt>
      <dd><%= pretty_phone @patient.phi_phone_alt(current_user) %></dd>
    </dl>
  </div>
  <div class="span3">
    <div class="page-header"><h2 style="white-space:nowrap"><%= image_tag 'gentleface/16/mail.png', alt: '', style: 'vertical-align:text-bottom' %> Address</h2></div>

    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @patient.phi_address(current_user) %></dd>
    </dl>
  </div>
  <div class="span3">
    <div class="page-header"><h2 style="white-space:nowrap"><%= image_tag 'gentleface/16/user.png', alt: '', style: 'vertical-align:text-bottom' %> Demographics</h2></div>

    <dl class="dl-horizontal">
      <dt>Sex</dt>
      <dd><%= @patient.phi_sex(current_user) %></dd>

      <dt>Age</dt>
      <dd><%= @patient.phi_age(current_user) %></dd>

      <dt>Berlin</dt>
      <dd><%= @patient.berlin_from_calls_and_mailings.join(", ") %></dd>

      <dt>ESS</dt>
      <dd><%= @patient.ess_from_calls_and_mailings.join(", ") %></dd>
    </dl>
  </div>
</div>


<div class="form-actions">
  <%= link_to image_tag('gentleface/16/3x3_grid.png', alt: '') + ' Create Prescreen', new_prescreen_path(patient_id: @patient.id), class: 'btn' %>
  <%= link_to image_tag('gentleface/16/mail.png', alt: '') + ' Create Mailing', new_mailing_path(patient_id: @patient.id), class: 'btn' %>
  <%= link_to image_tag('gentleface/16/phone_1.png', alt: '') + ' Create Call', new_call_path(patient_id: @patient.id), class: 'btn' %>
  <%= link_to image_tag('gentleface/16/cert.png', alt: '') + ' Create Evaluation', new_evaluation_path(patient_id: @patient.id), class: 'btn' %>
  <%= link_to image_tag('gentleface/16/users.png', alt: '') + ' Create Visit', new_visit_path(patient_id: @patient.id), class: 'btn' %>
</div>


<%= @events = @patient.events.order("events.event_time DESC"); render partial: 'events/events_mini' %>

<div id="stickies">
  <%= image_tag "contour/ajax-loader.gif" unless @patient.subject_code.blank? %>
</div>

<%= form_tag stickies_patient_path(@patient), method: :post, remote: true, style: 'display:inline', id: "patient_#{@patient.id}_stickies_form" do %>
  <%= hidden_field_tag 'screen_token', '' %>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $.post($("#patient_<%= @patient.id %>_stickies_form").attr("action"), $("#patient_<%= @patient.id %>_stickies_form").serialize(), null, "script");
  });
<% end %>
