<p id="notice"><%= notice %></p>

<p>
  <b>Mrn:</b>
  <%= @patient.mrn %>
</p>

<p>
  <b>First name:</b>
  <%= @patient.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @patient.last_name %>
</p>

<p>
  <b>Home Phone:</b>
  <%= @patient.phone_home %>
</p>

<p>
  <b>Sex:</b>
  <%= @patient.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @patient.age %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
