<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @doctors.total_count } %>

<table class="table table-striped" style="table-layout:fixed">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "doctors.name", "Name") %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "doctors.doctor_type", "Type") %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, "doctors.status", "Status") %></th>
    </tr>
  </thead>

  <% @doctors.each do |doctor| %>
    <tr class="<%= 'error' if doctor.status == 'blacklist' %>">
      <td><%= link_to doctor.name, doctor %></td>
      <td><%= doctor.doctor_type %></td>
      <td><%= doctor.status %></td>
    </tr>
  <% end %>
</table>


<center><%= paginate @doctors, theme: "contour" %></center>
