<% width = '1074px' %>

<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :doctor_type %><br />
      <%= f.text_field :doctor_type %>
    </div>
    <div class="field">
      <%= f.label :status %> NOTE: BLACKLISTING will DELETE all associated PRESCREENS<br />
      <%= f.select :status, [['---', nil],['Whitelist', 'whitelist'],['Blacklist', 'blacklist']] %>
    </div>
  </fieldset>

  <div class="actions">
    <% form_name = @doctor.new_record? ? 'new_doctor' : "edit_doctor_#{@doctor.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@doctor.new_record? ? "Create Doctor" : "Update Doctor"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
    <br />
  </div>
<% end %>
