<% @title = 'Doctors' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%#= link_to image_tag('gentleface/16/doc_new.png', alt: '') + "Create New Doctor", new_doctor_path, class: 'btn btn-primary' %>

<%= form_tag doctors_path, method: :get, remote: true, id: "doctors_search", class: 'form-search' do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="doctors"><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#doctors_search").attr("action"), $("#doctors_search").serialize(), null, "script");
  });
<% end %>
